* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
.banner{
	display: flex;
	width: 60%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
    flex-direction: column;
    border: 2px dashed tomato;
    margin-top: 5%;
    /* background-image: url("bg.png");
    background-size: cover; */
  
}

.header{
    margin-top: 10%;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700;
    background: linear-gradient(to left, blue, red);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.form-class{
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.form-class label{
    padding: auto;
    font-weight: 520;
    font-size: 30px;

}

.form-class input{
    margin-top: 20px;
    width: 500px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    background-color: rgba(194, 194, 204, 0.877);
}

.form-class button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    background: linear-gradient(to right, red, blue);
    color: #ffffff;
    border-radius: 10px;
}

button:hover{
    background-color: black;
    cursor: pointer;
}

.todo-list{
    margin-top: 5%;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.nike{
    font-size: 20px;
    margin-top: 5px;
}

#result{
    margin-bottom: 20px;
}

.fon{
    margin-left: 30px;
    color: red;
    cursor:progress;
}